<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MosqueMate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MosqueMate.Properties.Settings>
            <setting name="currentLang" serializeAs="String">
                <value>ar</value>
            </setting>
            <setting name="City" serializeAs="String">
                <value>Cairo</value>
            </setting>
            <setting name="Country" serializeAs="String">
                <value>Egypt</value>
            </setting>
            <setting name="MuezzinFilename" serializeAs="String">
                <value>AbdelAbaset.mp3</value>
            </setting>
            <setting name="AppThemeLight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="calculationMethod" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="notification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pageIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </MosqueMate.Properties.Settings>
    </userSettings>
</configuration>